<div class="cf"></div>
<div id="footer">
    <div class="footer-area common-width clear-fix">
        <div class="footer-left">
            <div class="footer-phone">
               客服热线
            </div>
            <div class="footer-phone" style="font-weight: 700;">
                {$info.phone}
            </div>
            <div class="footer-phone-desc item">接听时间：周一至周五 9:00~18:00</div>
            <a class="footer-address item" href="https://map.baidu.com/@13055200.145,3721735.85,13z" target="_blank">{$info.address}>></a>
        </div>
        <div class="footer-right clear-fix">
            <div class="footer-list">
                {if isset($navList[3])}
                <a href="{:url('index/articlelist',['mark'=>$navList[3]['mark'],'type'=>'nav'])}" class="footer-item-title">{$navList[3]['title']}</a>
                {foreach $navList[3]['sub'] as $v}
                <a href="{:url('index/articlelist',['cate_id'=>$v.id,'mark'=>$navList[3]['mark'],'type'=>'nav'])}" class="footer-item item">{$v.name}</a>
                {/foreach}
                {/if}
            </div>
            <div class="footer-list">
                {if isset($navList[4])}
                <a href="{:url('index/articlelist',['mark'=>$navList[4]['mark'],'type'=>'nav'])}" class="footer-item-title">{$navList[4]['title']}</a>
                {foreach $navList[4]['sub'] as $v}
                <a href="{:url('index/articlelist',['cate_id'=>$v.id,'mark'=>$navList[4]['mark'],'type'=>'nav'])}" class="footer-item item">{$v.name}</a>
                {/foreach}
                {/if}
            </div>
            <div class="footer-list">
                {if isset($navList[6])}
                <a href="{:url('index/articlelist',['mark'=>$navList[6]['mark'],'type'=>'nav'])}" class="footer-item-title">{$navList[6]['title']}</a>
                {foreach $navList[6]['sub'] as $v}
                <a href="{:url('index/articlelist',['cate_id'=>$v.id,'mark'=>$navList[6]['mark'],'type'=>'nav'])}" class="footer-item item">{$v.name}</a>
                {/foreach}
                {/if}
            </div>
            <div class="footer-weixin">
                <a href="" class="footer-item-title">关注我们</a>
                <div class="weixin-code" style="background:url(__ImagePath__{$info.wx_url}) no-repeat center;background-size:100px 100px;"></div>
            </div>
        </div>
    </div>
    <div class="footer-text">
        {$info.case_info} | {$info.power}{if $info.address} | {$info.address}{/if}
    </div>
</div>