{include file="public:head"
css='<link href="__StaticStyle__/css/index.css" rel="stylesheet"><link href="__StaticStyle__/css/swiper.css" rel="stylesheet">'
js='<script type="text/javascript" src="__StaticStyle__/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="__StaticStyle__/js/swiper.js"></script>'
}
<body>
{include file="public:nav"}
<div class="index-bg-top" style="background:url(__ImagePath__{$banner}) no-repeat center;"></div>
<div id="index-top-swiper" class="bg-grey" style="padding-bottom:50px;">
        <div class="main-swiper common-width">
        <div class="main-title">律师精英</div>
        <div class="main-desc">甄选全国优质律师，定制化服务，全新全意维护当事人合法权益</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {foreach $peopleList as $k=>$item}
                    <a class="people-item  {if $k%4 == 3}no-margin-r{/if}" style="background:url(__ImagePath__{$item.img}) no-repeat center;" href="{:url("index/articledetail",['id'=>$item.id,'mark'=>$item.mark,'type'=>'list'])}">
                        <div class="people-info">
                            <div class="people-name">{$item.title}</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone"></div>
                            <div class="people-desc">{$item.description}</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    {if $k == 7}</div><div class="swiper-slide">{/if}
                    {/foreach}

                </div>
            </div>
            <ul class="slidershow-nav">
            </ul>
        </div>
    </div>
</div>
<div class="cf"></div>

<div class="common-width">
    <div id="case-wrap">
        <div class="main-title">案例法规</div>
        <div class="main-desc">了解案例法规，捍卫自己的合法权益</div>
        <div class="case-img-list clear-fix">
            {foreach $caseList as $k=>$item}
            {if $k < 3}
            <a class="case-img-item {if $k%3 == 2}no-margin-r{/if}"  href="{:url("index/articledetail",['id'=>$item.id,'mark'=>$item.mark,'type'=>'list'])}">
                <div class="case-img" style="background:url(__ImagePath__{$item.img}) no-repeat center;background-size:380px 248px;"></div>
                <div class="case-name">{$item.title}</div>
            </a>
            {/if}
            {/foreach}
        </div>

        <div class="case-title-list clear-fix">
            {foreach $caseList as $k=>$item}
            {if $k >= 3}
            <a class="case-title-item  {if $k%3 == 2}no-margin-r{/if}"  href="{:url("index/articledetail",['id'=>$item.id,'mark'=>$item.mark,'type'=>'list'])}">
                <span class="case-title-label">[{$item.name}]</span>
                <span class="case-title">{$item.title}</span>
            </a>
            {/if}
            {/foreach}
        </div>

    </div>
</div>

<div class="bg-grey">
    <div id="busi-wrap" class="common-width">
        <div class="main-title">业务领域</div>
        <div class="main-desc">“术业有专攻”，我们一定及时高效的为您出解决方案</div>
        <div class="busi-list clear-fix">
            {foreach $markList as $item}
            <a class="busi-item" href="{:url('index/articlelist',['mark'=>$item.mark,'type'=>'nav'])}">
                <div class="busi-icon" style="background:url(__ImagePath__{$item.img}) no-repeat center;background-size:105px 105px;"></div>
                <div class="busi-title">{$item.title}</div>
                <div class="busi-desc">{$item.remark}</div>
            </a>
            {/foreach}
        </div>

    </div>
</div>

<div id="message-wrap" class="common-width clear-fix">
    <div class="main-title">最新法讯</div>
    <div class="main-desc">知晓身边最新法讯，掌握法律知识</div>
    <div class="message-list clear-fix">
        {foreach $messageList as $item}
        <a class="message-item"  style="background:url(__ImagePath__{$item.img}) no-repeat;background-size:120px 80px;" href="{:url("index/articledetail",['id'=>$item.id,'mark'=>$item.mark,'type'=>'list'])}">
            <div class="message-title">{$item.title}</div>
            <div class="message-desc">{$item.description}</div>
            <span class="message-time"><?= explode(' ',$item['sendtime'])[0];?></span>
        </a>
        {/foreach}
    </div>
    <div class="message-swiper message-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {foreach $bannerList as $item}
                <a class="swiper-slide" style="background:url(__ImagePath__{$item.url}) no-repeat center;background-size:400px 270px;" href="{$item.title}">

                </a>
                {/foreach}
            </div>
            <ul class="slidershow-nav">
            </ul>
        </div>
    </div>

</div>
<div class="bg-grey">
    <div id="cor-wrap" class="common-width clear-fix">
        <div class="main-title">公司介绍</div>
        <div class="main-desc">遇见德恒，了解德恒</div>
        <div class="cor-item"  style="background:url(__ImagePath__{$about.img}) no-repeat;background-size:560px 360px;" href="">
            <div class="cor-title">{$about.title}</div>
            <div class="cor-title-item">DEHENG LEGAL</div>
            <div class="cor-desc">{$about.description}
            </div>
            <a class="cor-btn" href="{:url("index/articledetail",['id'=>$about.id,'mark'=>$about.mark,'type'=>'list'])}">了解更多</a>
        </div>
    </div>
</div>
<div id="link-wrap" class="common-width clear-fix">
    <div class="link-area clear-fix">
        <div class="link-list">
            <div class="slide-click active" data-slide="1">
                我的客户 / <span>CUSTOMER</span>
            </div>
        </div>
        <div class="link-list">
            <div class="slide-click" data-slide="2">
                我的合作 / <span>COOPERATION</span>
            </div>
        </div>
        <div class="link-list">
            <div class="slide-click" data-slide="3">
                媒体协助 / <span>MEDIA</span>
            </div>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" >
                {foreach $kehuList as $k=>$item}
                <a class="link-item {if $k%6 == 5}no-margin-r{/if}" href="{$item.linkurl}" style="background:url(__ImagePath__{$item.img}) no-repeat center;background-size:180px 70px;"></a>
                {/foreach}
            </div>
            <div class="swiper-slide" >
                {foreach $hezuoList as $k=>$item}
                <a class="link-item {if $k%6 == 5}no-margin-r{/if}" href="{$item.linkurl}" style="background:url(__ImagePath__{$item.img}) no-repeat center;background-size:180px 70px;"></a>
                {/foreach}
            </div>
            <div class="swiper-slide" >
                {foreach $xiezhuList as $k=>$item}
                <a class="link-item {if $k%6 == 5}no-margin-r{/if}" href="{$item.linkurl}" style="background:url(__ImagePath__{$item.img}) no-repeat center;background-size:180px 70px;"></a>
                {/foreach}
            </div>
        </div>
        <ul class="slidershow-nav">
        </ul>
    </div>
</div>

</div>
{include file="public:footer"}
</body>
<script>
var mySwiper = new Swiper("#index-top-swiper .swiper-container", {
    loop: true,
    autoplay: 5000,
    pagination: "#index-top-swiper ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
});
var mySwiper = new Swiper("#message-wrap .swiper-container", {
    loop: true,
    autoplay: 3000,
    pagination: "#message-wrap ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
});
var Swiper = new Swiper("#link-wrap .swiper-container", {
    loop: true,
    autoplay: 3000,
    pagination: "#link-wrap ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
    normalizeSlideIndex:false,
    onSlideChangeEnd: function(swiper){
        var index = swiper.activeIndex;//切换结束时，告诉我现在是第几个slide
        if(index == 4) index = 1;
        $(".slide-click.active").removeClass("active");
        $(".slide-click[data-slide='"+index+"']").addClass("active");
    }
});
$(".slide-click").click(function(){
    if($(this).hasClass("active")) return false;
    $(".slide-click.active").removeClass("active");
    $(this).addClass("active");
    var slide_index = $(this).attr('data-slide');
    Swiper.slideTo(slide_index,1000,false);
});

$(function(){
    $(".head-title-item").hover(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-item.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-last").addClass("hidden");
        $("."+domC).removeClass("hidden");

    });

    $(".head-title-last").click(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-last.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-sec").addClass("hidden");
        $("."+domC).removeClass("hidden");
        $(".head-more-last").attr("href",$(this).attr("data-url"));
    });
    $("#index-top-swiper .people-item").hover(
        function(){
            $(this).find(".people-info").animate({
                top:'180px'
            }, 300 );
            $(this).find(".people-phone-top").fadeIn("slow");
        },
        function(){
            $(this).find(".people-info").animate({
                top:'260px'
            }, 300 );
            $(this).find(".people-phone-top").fadeOut("fast");
        }
    );
})
</script>
</html>