{include file="public:head"
css='<link href="__StaticStyle__/css/index.css" rel="stylesheet"><link href="__StaticStyle__/css/swiper.css" rel="stylesheet">'
js='<script type="text/javascript" src="__StaticStyle__/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="__StaticStyle__/js/swiper.js"></script>'
}
<body>
{include file="public:nav"}
<div class="index-bg-top"></div>
<div id="index-top-swiper" class="bg-grey" style="padding-bottom:50px;">
        <div class="main-swiper common-width">
        <div class="main-title">律师精英</div>
        <div class="main-desc">甄选全国优质律师，定制化服务，全新全意维护当事人合法权益</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item no-margin-r" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>

                </div>

                <div class="swiper-slide">
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item no-margin-r" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                    <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                        <div class="people-info">
                            <div class="people-name">何玉龙律师</div>
                            <div class="people-level">主办律师</div>
                            <div class="people-phone-top"></div>
                            <div class="people-phone">15888231221</div>
                            <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                            <div class="people-site">合肥</div>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="slidershow-nav">
            </ul>
        </div>
    </div>
</div>
<div class="cf"></div>

<div class="common-width">
    <div id="case-wrap">
        <div class="main-title">案例法规</div>
        <div class="main-desc">了解案例法规，捍卫自己的合法权益</div>
        <div class="case-img-list clear-fix">
            <a class="case-img-item"  href="">
                <div class="case-img" style="background:url(__StaticStyle__/image/case_bg.jpg) no-repeat center;background-size:380px 248px;"></div>
                <div class="case-name">最高检：公布侵犯人身自由权赔偿标准</div>
            </a>
            <a class="case-img-item"  href="">
                <div class="case-img" style="background:url(__StaticStyle__/image/case_bg.jpg) no-repeat center;background-size:380px 248px;"></div>
                <div class="case-name">最高检：公布侵犯人身自由权赔偿标准</div>
            </a>
            <a class="case-img-item no-margin-r"  href="">
                <div class="case-img" style="background:url(__StaticStyle__/image/case_bg.jpg) no-repeat center;background-size:380px 248px;"></div>
                <div class="case-name">最高检：公布侵犯人身自由权赔偿标准</div>
            </a>
        </div>

        <div class="case-title-list clear-fix">
            <a class="case-title-item"  href="">
                <span class="case-title-label">[诉讼仲裁]</span>
                <span class="case-title">法院判缓刑的条件是什么？需要坐牢吗？</span>
            </a>
            <a class="case-title-item"  href="">
                <span class="case-title-label">[诉讼仲裁]</span>
                <span class="case-title">法院判缓刑的条件是什么？需要坐牢吗？</span>
            </a>
            <a class="case-title-item no-margin-r"  href="">
                <span class="case-title-label">[诉讼仲裁]</span>
                <span class="case-title">法院判缓刑的条件是什么？需要坐牢吗？</span>
            </a>
            <a class="case-title-item"  href="">
                <span class="case-title-label">[诉讼仲裁]</span>
                <span class="case-title">法院判缓刑的条件是什么？需要坐牢吗？</span>
            </a>
            <a class="case-title-item"  href="">
                <span class="case-title-label">[诉讼仲裁]</span>
                <span class="case-title">法院判缓刑的条件是什么？需要坐牢吗？</span>
            </a>
        </div>

    </div>
</div>

<div class="bg-grey">
    <div id="busi-wrap" class="common-width">
        <div class="main-title">业务领域</div>
        <div class="main-desc">“术业有专攻”，我们一定及时高效的为您出解决方案</div>
        <div class="busi-list clear-fix">
            <a class="busi-item" href="">
                <div class="busi-icon" style="background:url(__StaticStyle__/image/1_10.png) no-repeat center;background-size:105px 105px;"></div>
                <div class="busi-title">私人律师</div>
                <div class="busi-desc">私人律师一对一服务，私人律师一对一服务</div>
            </a>
            <a class="busi-item" href="">
                <div class="busi-icon" style="background:url(__StaticStyle__/image/2_10.jpg) no-repeat center;background-size:105px 105px;"></div>
                <div class="busi-title">企业法务</div>
                <div class="busi-desc">私人律师一对一服务，私人律师一对一服务</div>
            </a>
            <a class="busi-item" href="">
                <div class="busi-icon" style="background:url(__StaticStyle__/image/3_10.png) no-repeat center;background-size:105px 105px;"></div>
                <div class="busi-title">法律咨询</div>
                <div class="busi-desc">私人律师一对一服务，私人律师一对一服务</div>
            </a>
            <a class="busi-item" href="">
                <div class="busi-icon" style="background:url(__StaticStyle__/image/4_10.png) no-repeat center;background-size:105px 105px;"></div>
                <div class="busi-title">律师诉讼</div>
                <div class="busi-desc">私人律师一对一服务，私人律师一对一服务</div>
            </a>
        </div>

    </div>
</div>

<div id="message-wrap" class="common-width clear-fix">
    <div class="main-title">最新法讯</div>
    <div class="main-desc">知晓身边最新法讯，掌握法律知识</div>
    <div class="message-list clear-fix">
        <a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a>
        <a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a>
        <a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a>
        <a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a><a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a><a class="message-item"  style="background:url(__StaticStyle__/image/mes_img.jpg) no-repeat;background-size:120px 80px;" href="">
            <div class="message-title">劳动合同新规定出台</div>
            <div class="message-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <span class="message-time">2019-09-09</span>
        </a>
    </div>
    <div class="message-swiper message-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <a class="swiper-slide" style="background:url(__StaticStyle__/image/swiper_img.jpg) no-repeat center;background-size:400px 270px;">

                </a><a class="swiper-slide" style="background:url(__StaticStyle__/image/swiper_img.jpg) no-repeat center;background-size:400px 270px;">

                </a><a class="swiper-slide" style="background:url(__StaticStyle__/image/swiper_img.jpg) no-repeat center;background-size:400px 270px;">

                </a>
            </div>
        </div>
    </div>

</div>
<div class="bg-grey">
    <div id="cor-wrap" class="common-width clear-fix">
        <div class="main-title">公司介绍</div>
        <div class="main-desc">遇见德恒，了解德恒</div>
        <div class="cor-item"  style="background:url(__StaticStyle__/image/cor_bg.jpg) no-repeat;background-size:560px 360px;" href="">
            <div class="cor-title">安徽德恒法律咨询有限公司</div>
            <div class="cor-title-item">DEHENG LEGAL</div>
            <div class="cor-desc">法院判缓刑的条件是什么？判缓刑需要坐牢吗？法院判缓刑的条件是什么？判缓刑需要坐牢吗？法院判缓刑的条件是什么？判缓刑需要坐牢吗？法院判缓刑的条件是什么？判缓刑需要坐牢吗？法院判缓刑的条件是什么？判缓刑需要坐牢吗？
            </div>
            <a class="cor-btn" href="">了解更多</a>
        </div>
    </div>
</div>





</div>
{include file="public:footer"}
</body>
<script>
var mySwiper = new Swiper(".swiper-container", {
    loop: true,
    autoplay: 3000,
    pagination: "ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
});
$(function(){
    $(".head-title-item").hover(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-item.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-last").addClass("hidden");
        $("."+domC).removeClass("hidden");

    })

    $(".head-title-last").click(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-last.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-sec").addClass("hidden");
        $("."+domC).removeClass("hidden");
        $(".head-more-last").attr("href",$(this).attr("data-url"));
    })
})
</script>
</html>