{include file="public:head"
css='<link href="__StaticStyle__/css/index.css" rel="stylesheet"><link href="__StaticStyle__/css/swiper.css" rel="stylesheet">'
js='<script type="text/javascript" src="__StaticStyle__/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="__StaticStyle__/js/swiper.js"></script>'
}
<body>
{include file="public:nav"}
<div class="index-bg-top"></div>
<div class="main-swiper common-width">
    <div class="main-title">律师精英</div>
    <div class="main-desc">甄选全国优质律师，定制化服务，全新全意维护当事人合法权益</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
<a class="people-item no-margin-r" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
<a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>

            </div>

            <div class="swiper-slide">
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item no-margin-r" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>
                <a class="people-item" style="background:url(__StaticStyle__/image/people_bg.jpg) no-repeat center;" href="">
                    <div class="people-info">
                        <div class="people-name">何玉龙律师</div>
                        <div class="people-level">主办律师</div>
                        <div class="people-phone-top"></div>
                        <div class="people-phone">15888231221</div>
                        <div class="people-desc">主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷，主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷主要处理房产纠纷</div>
                        <div class="people-site">合肥</div>
                    </div>
                </a>

            </div>

        </div>
        <ul class="slidershow-nav">
        </ul>
    </div>
</div>
<div class="main-content common-width">
</div>






</div>
{include file="public:footer"}
</body>
<script>
var mySwiper = new Swiper(".swiper-container", {
    loop: true,
    autoplay: 3000,
    pagination: "ul.slidershow-nav",
    paginationElement: "li",
    currentClass: "current",
});
$(function(){
    $(".head-title-item").hover(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-item.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-last").addClass("hidden");
        $("."+domC).removeClass("hidden");

    })

    $(".head-title-last").click(function(){
        if($(this).hasClass("active")) return false;
        var domC = $(this).attr("data-dom");
        $(".head-title-last.active").removeClass("active");
        $(this).addClass("active");
        $(".content-area-sec").addClass("hidden");
        $("."+domC).removeClass("hidden");
        $(".head-more-last").attr("href",$(this).attr("data-url"));
    })
})
</script>
</html>